__pycache__
cookie
*/__pycache__/
train_workspace/mark
train_workspace/log
train_workspace/checkpoint
train_workspace/data/train
train_workspace/data/val
train_workspace/data/zhihu_train
train_workspace/data/zhihu_val
train_workspace/zhihu_log
*.html
